<div class="message" data-author-id='<%= message.user.id %>'>
  <div class="message-avatar-wrapper">
    <% if message.user.avatar.attached? %>
      <%= cl_image_tag message.user.avatar.key, class: 'message-avatar' %>
    <% else %>
      <div class="default-message-avatar">
        <%= message.user.default_avatar %>
      </div>
    <% end %>
  </div>
  <div class="message-content">
    <div class="message-header">
      <div class="message-user">
        <p><%= message.user.username %></p>
      </div>
      <div class="message-creation-time">
        <p><%= message.created_at.strftime("%l:%M %p") %></p>
      </div>
    </div>
    <div class="message-text">
      <%= message.content %>
    </div>
  </div>
</div>
