<div class="conversations-content-container" data-controller="chat">
  <div class="conversations-content-items" id="chatbox" data-chat-target="messages">
    <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div class="conversations-hub-wrapper">
    <%= form_for Message.new, class: "w-100", remote: true, data: { chat_target: "form", action: "keydown->chat#submitOnKeyDown"} do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.text_field :language_id, value: @language.id, hidden: true %>
      <div class="form-group-chat">
        <%= f.rich_text_area :content, placeholder: "Message the chat...", class: "chat-input form-control", data: { chat_target: "chatInput" } %>
      </div>

      <div class="chat-tools">
        <i class="far fa-grin-beam pointer" data-action="click->chat#toggleEmojis"></i>
        <%#= f.submit "<i class='far fa-paper-plane'></i>".html_safe %>
        <i class="far fa-paper-plane pointer" data-action="click->chat#submit"></i>
        <%= f.submit data: { chat_target: "hiddenSubmitBtn" }, class: "hidden" %>
      </div>
    <% end %> <!-- form with model message -->
  </div>
</div>
