<h2 class='text-3xl text-center border-b w-full mb-2'>Sign Up</h2>
<div class="flex justify-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: MyFormBuilder) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-inputs">
    <%= f.text_section :username, "Username" %>
    <%#= f.text_section :email, "Email" %>
    <%= f.password_section :password, "Password" %>
    <%= f.password_section :password_confirmation, "Password Confirmation" %>
  </div>
  <div class="flex flex-col mt-4">
    <%= f.submit "Sign up", class: "btn btn-primary border-glow" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
  </div>
  <% end %> <!-- form for -->
</div>


