<div class="edit-main-container h-screen">
  <div class="edit-sidebar-left"></div>
  <div class="edit-content-wrapper">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: MyFormBuilder) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-inputs">
      <%= f.text_section :username, "Username" %>
      <%= f.text_section :email, "Email" %>
      <%= f.password_section :password, "Password" %>
      <%= f.password_section :password_confirmation, "Password Confirmation" %>
    </div>
    <div class="form-actions flex justify-center">
      <%= f.submit "Sign up", class: "btn btn-primary border-glow mx-auto" %>
      <% end %>
    </div>
    <div class="form-actions flex justify-center">
      <%= link_to new_user_session_path do %>
        <div class="btn btn-secondary flex justify-center items-center text-xl">
          Login
        </div>
      <% end %>
    </div>
    <div class="edit-sidebar-right"></div>
  </div>
