<div class="profile-main">
  <div class="profile-main-a">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: 'profile-avatar' %>
    <% else %>
    <div class="default-profile-avatar">
      <%= @user.default_avatar %>
    </div>
    <% end %>
  </div>
  <div class="profile-main-b">
    <div class="profile-username"><%= @user.username %></div>
    <div class="profile-city"><%= @user.city %></div>
  </div>
    <div class="profile-main-c">
      <% if @user == current_user %>
          <%= link_to edit_user_registration_path, data: { turbolinks: false } do %>
            <div class="profile-edit-icon">
              <i class="fas fa-edit"></i>
            </div>
          <% end %> <!-- link to edit -->
      <% end %> <!-- if user -->
      <div class="profile-scores">
        <p>Game Points(GP): 11,212</p>
        <p>Assit Points(AP): 55</p>
        <p>Hint Points(HP): 3</p>
      </div>
    </div>
</div>
