<div class="profile-cards">
  <% @user.display_plays.each do |play| %>
    <div class="plays-card">
      <div class="plays-card-title">
        <h2><%= play.game.name %> <p class='plays-card-language'>(<%= play.game.language.name %>)</p></h2>
      </div>
      <div class="plays-card-content">
        <p>- Score: <%= play.score %></p>
        <p>- Time: <%= play.time %>s</p>
        <p>- Count: <%= play.count %>/<%= play.perfect_score %></p>
        <p class='plays-card-timestamp'><%= play.created_at.strftime("%d %b %Y, %H:%M") %></p>
      </div>
    </div>
  <% end %>
</div>
