    <div class="profile-hub">
      <div class="flex justify-around">
        <div class="profile-scores">
          <p>Game Points(GP): <%= @user.total_score %></p>
          <p>Convo Points(CP): <%= @user.convo_points %></p>
          <p>Hint Points(HP): <%= @user.hint_points %></p>
        </div>
        <div class="flex flex-col w-1/4">
          <% if @user == current_user %>
            <%= link_to edit_user_registration_path, data: { turbolinks: false } do %>
              <div class="btn btn-primary border-glow">
                <p>Edit</p>
              </div>
            <% end %> <!-- link to edit -->
              <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="btn btn-secondary">
                <p>Logout</p>
              </div>
            <% end %> <!-- logout -->
          <% end %> <!-- if user -->
        </div>
      </div>
    </div>
