<div class="profile-main-container">
  <div class="profile-wrapper">
    <section class="animated-grid">
      <div class="grid-card">badges</div>
      <div class="grid-card">posts</div>
      <div class="grid-card">
          <p>Best Plays</p>
        <div class="plays-cards">
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
          <div class="plays-card">
            <div class="plays-card-title">
              <h2>Game Name</h2>
            </div>
            <%# @user.best_plays.each do |play| %>
            <div class="plays-card-content">
              <p>Score: 145<%#= play.score %></p>
              <p>Time: 30s<%#= play.time %></p>
              <p>Count: 12/36<%#= play.count %></p>
            </div>
            <%# end %>
          </div>
        </div>
      </div>
      <div class="grid-card">recent plays</div>
      <div class="grid-card">
        <div class="profile-main">
          <div class="profile-main-a">
            <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: 'profile-avatar' %>
            <% else %>
            <div class="default-profile-avatar">
              <%= @user.default_avatar %>
            </div>
            <% end %>
          </div>
          <div class="profile-main-b">
            <div class="profile-username"><%= @user.username %></div>
            <div class="profile-city"><%= @user.city %></div>
          </div>
          <% if @user == current_user %>
            <div class="profile-main-c">
              <%= link_to edit_user_registration_path, data: { turbolinks: false } do %>
                <div class="profile-edit-icon">
                  <i class="fas fa-edit"></i>
                </div>
              <% end %> <!-- link to edit -->
            </div>
          <% end %> <!-- if user -->
        </div>
      </div>
    </section>
  </div>
</div>

