<div class="profile-main-container">
  <div class="profile-wrapper">
    <section class="animated-grid">

      <div class="grid-card">
        <p class='plays-card-header'>Recent Plays</p>
        <div class="profile-cards">
          <%= render @user.display_plays %>
        </div>
      </div>

<!--       <div class="grid-card">
        <p class='plays-card-header'>Posts</p>
        <%#= render "profile_posts" %>
      </div> -->

      <div class="grid-card">
          <p class='plays-card-header'>Best Plays</p>
          <div class="profile-cards">
            <%= render @user.best_plays %>
          </div>
      </div>

      <div class="grid-card">
        <p class='plays-card-header'>Badges</p>
        <%= render "profile_badges" %>
      </div>
      <div class="grid-card">
        <%= render "user_hub" %>
      </div>
      <div class="grid-card">
        <%= render "profile_header" %>
      </div>
    </section>
  </div>
</div>

