<div class="profile-main-container">
  <div class="profile-sidebar-left">
    <%= link_to root_path do %>
    <div class="logo">
      <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
    </div>
    <% end %>
  </div>
  <div class="profile-wrapper">
    <div class="profile-header">
      <div class="profile-header-a">
        <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: 'profile-avatar' %>
        <% else %>
        <div class="default-profile-avatar">
          <%= current_user.default_avatar %>
        </div>
        <% end %>
      </div>
      <div class="profile-header-b">
        <div class="profile-username"><%= @user.username %></div>
        <div class="profile-city"><%= @user.city %></div>
      </div>
      <% if @user == current_user %>
      <div class="profile-header-c">
        <div class="profile-edit-icon">
          <%= link_to edit_user_registration_path do %>
          <i class="fas fa-edit"></i>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="profile-record">
      <div class="profile-record-header">
        <h2>Game</h2>
        <h2>Points</h2>
        <h2>Time</h2>
        <h2>Correct Count</h2>
      </div>
      <div class="profile-record-content">
        <% @user.plays.each do |play| %>
        <div class="profile-record-row">
          <p><%= play.game.name %></p>
          <p><%= play.score %></p>
          <p><%= play.time %></p>
          <p><%= play.count %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="profile-lists">
      <div class="profile-badges">
        <div class="profile-badges-header">
          <h3>Badges</h3>
        </div>
        <div class="profile-badges-content">
          <div class="profile-badges-row">
            <p>Coming Soon</p>
          </div>
        </div>
      </div>
      <div class="profile-friends">
        <div class="profile-friends-header">
          <h3>Friends</h3>
        </div>
        <div class="profile-friends-content">
          <div class="profile-friends-row">
            <p>Coming Soon</p>
          </div>
        </div>
      </div>
      <div class="profile-best-plays">
        <div class="profile-best-plays-header">
          <h3>Best Plays</h3>
        </div>
        <div class="profile-best-plays-content">
          <% @user.best_plays.each do |play| %>
          <div class="profile-best-plays-row">
            <p><%= play.game.name %></p>
            <p><%= play.score %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-sidebar-right">
    <%= link_to games_path do %>
    <div class="game-header-button stroke">
      <h2 class="p-absolute">Games</h2>
      <svg>
        <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
        <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
      </svg>
    </div>
    <% end %>
  </div>
</div>

