<div class="profile-main-container">
  <div class="profile-wrapper">
    <section class="animated-grid">
      <div class="grid-card">badges</div>
      <div class="grid-card">posts</div>
      <div class="grid-card">best plays</div>
      <div class="grid-card">recent plays</div>
      <div class="grid-card">
        <div class="profile-header">
          <div class="profile-header-a">
            <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: 'profile-avatar' %>
            <% else %>
            <div class="default-profile-avatar">
              <%= @user.default_avatar %>
            </div>
            <% end %>
          </div>
          <div class="profile-header-b">
            <div class="profile-username"><%= @user.username %></div>
            <div class="profile-city"><%= @user.city %></div>
          </div>
          <% if @user == current_user %>
            <div class="profile-header-c">
              <%= link_to edit_user_registration_path, data: { turbolinks: false } do %>
                <div class="profile-edit-icon">
                  <i class="fas fa-edit"></i>
                </div>
              <% end %> <!-- link to edit -->
            </div>
          <% end %> <!-- if user -->
        </div>
      </div>
    </section>
  </div>
</div>

