<div class="new-password-main-container">

  <div class="new-password-sidebar-left"></div>

  <div class="new-password-content-wrapper">
    <div class="new-password-header">
      <h2>Forgot your password?</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="new-password-label">
        <%= f.label :email %>
      </div>
      <div class="new-password-form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "new-password-input" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "new-password-button" %>
    </div>
    <% end %>
  </div>

  <div class="new-password-sidebar-right"></div>
</div>
