<header class="header">
  <%= link_to root_path do %>
  <div class="logo">
    <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
  </div>
  <% end %>

  <div class='header-menu'>
    <div class="wrapper-dropdown" id="contact-dropdown">
      <div class="dropdown-trigger">
        <span class="contact-dropdown-text">Contact Us</span>
      </div>
      <ul class="dropdown">
        <%= form_for(ContactForm.new, remote: :true, url: contact_send_path) do |f| %>
        <% unless user_signed_in? && current_user.email.present? %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <% end %>
        <%= f.label :subject %>
        <%= f.text_field :subject %>
        <%= f.label :message %>
        <%= f.text_area :message %>
        <%= f.label :file %>
        <%= f.file_field :file %>
        <%= f.submit "Send", class: "contact-form-button" %>

        <% end %>

      </ul>
    </div>
    <div id="login-dropdown" class="wrapper-dropdown" tabindex="1">
      <% if user_signed_in? %>
      <div class="dropdown-trigger">
        <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: 'login-avatar' %>
        <% else %>
        <div class="default-login-avatar">
          <%= current_user.default_avatar %>
        </div>
        <% end %> <!-- if current_user.avatar.attached? -->
        <span class="username-dropdown-text"><%= current_user.username %></span>
      </div>
      <ul class="dropdown">
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <div class="dropdown-trigger">
        <span class="login-dropdown-text">Login</span>
      </div>
      <ul class="dropdown">
        <%= form_for(resource, url: session_path(resource_name), namespace: "login", remote: true) do |f| %>
        <div class="field login-ceiling">
          <%= f.label :login, class: "text-small-uppercase login-ceiling" %><br />
          <%= f.text_field :login, autofocus: true, autocomplete: "username", class: "text-body" %>
        </div>
        <div class="field login-ceiling">
          <%= f.label :password, class: "text-small-uppercase" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "text-body" %>
        </div>


        <div class="actions">
          <%= f.submit "Log in", class: "login-button" %>
        </div>

        <% end %> <!-- form_for url session path -->
        <%= link_to new_user_password_path do %>
          <div class="password-recovery">
            <p>Forgot your password?</p>
          </div>
        <% end %>
      </ul>
      <% end %> <!-- if user_signed_in? -->
    </div>
  </div>
</header>
