<header class="header">
  <%= link_to root_path do %>
  <div class="logo">
    <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
  </div>
  <% end %>

    <ul class='header-menu'>
     <div id="login-dropdown" class="wrapper-dropdown" tabindex="1">
      <% if user_signed_in? %>
      <div class="dropdown-trigger">
      <div class="login-avatar">ら</div>
      <span><%= current_user.username %></span>
    </div>
    <ul class="dropdown">
      <li><%= link_to "My Profile", user_path(current_user) %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
      <% else %>
      <div class="dropdown-trigger">
      <span>Login</span>
      </div>
      <ul class="dropdown">
       <%= form_for(resource, url: session_path(resource_name), namespace: "login", remote: true) do |f| %>
       <div class="field">
        <%= f.label :login, class: "text-small-uppercase" %><br />
        <%= f.text_field :login, autofocus: true, autocomplete: "username", class: "text-body" %>
      </div>
      <div class="field">
        <%= f.label :password, class: "text-small-uppercase" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "text-body" %>
      </div>


      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

      <% end %>
      <% end %>
    </ul>
  </div>
</header>
