<header class="header">
  <%= link_to root_path do %>
  <div class="logo">
    <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
  </div>
  <% end %>
  <ul class='header-menu'>
   <div id="dd" class="wrapper-dropdown-3" tabindex="1">
    <% if user_signed_in? %>
    <div class="login-avatar">ら</div>
    <span><%= link_to current_user.username, user_profile_path %></span>
    <% else %>
    <span>Login</span>
    <ul class="dropdown">
     <%= form_for(resource, as: "login", url: session_path(resource_name), html: { id: "login-form" }, remote: true) do |f| %>
     <div class="field">
      <%= f.label :username, class: "text-small-uppercase" %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "text-body" %>
    </div>
    <div class="field">
      <%= f.label :password, class: "text-small-uppercase" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "text-body" %>
    </div>


    <div class="actions">
      <%= f.submit "Log in" %>
    </div>

    <% end %>
    <% end %>
  </ul>
</div>
</header>
