  <header class="navbar" data-controller="navbar">
    <nav class="nav"> <!-- bd-grid was here -->
    <div class="flex justify-between items-center">
    <div class="logoss flex items-center">
      <%= link_to root_path do %>
        <div class="logo">
          <%= image_tag "logo-mobile.png", class: "" %>
        </div>
      <% end %> <!-- link to root -->
      <%= link_to root_path do %>
        <div class="logo-text hidden lg:block">
          <%= image_tag "logo-text.png", class: "" %>
        </div>
      <% end %> <!-- link to root -->
      </div>
      <div>
        <div class="nav__menu" id='nav-menu'  data-target="navbar.nav">
          <ul class="nav__list text-4xl sm:text-base">
            <%= link_to games_path do %>
              <li class="nav__item nav__link mb-12 sm:mb-0">Games</li>
            <% end %>
            <%= link_to forum_index_path(:en) do %>
              <li class="nav__item nav__link mb-12 sm:mb-0">Conversations</li>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to profile_path do %>
                <li class="nav__item nav__link mb-12 sm:mb-0">Profile</li>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <li class="nav__item nav__link mb-12 sm:mb-0">Login</li>
              <% end %>
            <% end %>
            <%= link_to leaderboards_path do %>
              <li class="nav__item nav__link mb-12 sm:mb-0">Leaderboards</li>
            <% end %>
            <%= link_to contact_path do %>
              <li class="nav__item nav__link mb-12 sm:mb-0">Contact</li>
            <% end %>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle" data-action="click->navbar#showMenu">
          <i class="fas fa-bars fa-2x"></i>
        </div>
      </div>
      </div>
    </nav>
  </header>
