<div class="modal-bg">
  <div class="sign-up modal">
    <div class="signup-content interactive-form">
      <h2 class="signup-tagline">Join the Community!</h2>
      <span class="modal-close">X</span>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username, class: "text-small-uppercase" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "text-body", required: true, min: 3, max: 16 %>
      </div>

      <div class="field">
        <%= f.label :email, class: "text-small-uppercase" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-body", required: true %>
      </div>

      <div class="field">
        <%= f.label :password, class: "text-small-uppercase" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "text-body", minlength: 6, required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "text-small-uppercase" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-body", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "text-small-uppercase" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
