<div class="chillspace-main-container">
  <div class="sidebar-left">
    <%= link_to root_path do %>
    <div class="logo chat-logo">
      <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
    </div>
    <% end %>
    <div class="room-header">
      <h2>Chill Space</h2>
    </div>
    <div class="chillspace-current-user">
      <p><i class="fas fa-circle green-circle"></i><%= current_user.username %></p>
    </div>
    <div class="left-sidebar-section">
      <div class="chillspace-section-header">
        <h3>Channel <i class="fas fa-random"></i></h3>
      </div>
      <div class="chillspace-channels">
        <p class="forum-tab"><i class="fas fa-angle-double-right"></i>  Forum</p>
        <p class="forum-tab"><i class="fas fa-angle-double-right"></i>  Chat  <i class="fas fa-arrow-circle-left"></i></p>
      </div>
    </div>
    <div class="left-sidebar-section">
      <div class="chillspace-section-header">
        <h3>Language <i class="fas fa-comments"></i></h3>
      </div>
      <div class="chillspace-channels">
        <p class="forum-tab"><i class="fas fa-circle-notch"></i>  Japanese  <i class="fas fa-arrow-circle-left"></i></p>
        <p class="forum-tab"><i class="fas fa-circle-notch"></i>  English</p>
        <p class="forum-tab"><i class="fas fa-circle-notch"></i>  Spanish</p>
      </div>
    </div>
    <div class="left-sidebar-section">
      <div class="chillspace-section-header">
        <h3>Online <i class="fas fa-user"></i></h3>
      </div>
      <div class="chillspace-online-users">
        <p><i class="fas fa-circle green-circle"></i>Evan</p>
        <p><i class="fas fa-circle green-circle"></i>Sora Aoi</p>
        <p><i class="fas fa-circle white-circle"></i>spanky_douglas</p>
        <p><i class="fas fa-circle white-circle"></i>Abe-chan</p>
      </div>
    </div>
  </div>
  <div class="channel-container">
    <div class="forum-tab-content">
      <%= render "forum_chat/forum_container", posts: @posts %>
    </div>
    <div class="forum-tab-content">
      <%= render "forum_chat/chat_container" %>
    </div>
  </div>
  <div class="sidebar-right">
    <div class="sidebar-right-media">
      <div class="chat-lesson">
        <iframe width="475" height="300" src="https://www.youtube.com/embed/45vSd2dLaQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="chat-entertainment">
        <%= image_tag "japanese-street.jpg" %>
      </div>
    </div>
  </div>
</div>
