<div class="chat-main-container">
  <div class="sidebar-left">
    <%= link_to root_path do %>
    <div class="logo chat-logo">
      <%= image_tag "logo.jpg" %> <!-- change to svg?  -->
    </div>
    <% end %>
    <h2>Chill Space</h2>
    <p><i class="fas fa-circle green-circle"></i><%= current_user.username %></p>
    <div class="sidebar-section">
      <div class="#">
        <h3>Channel</h3>
        <h3><i class="fas fa-plus"></i></h3>
      </div>
      <p><i class="fab fa-slack-hash"></i> Chat</p>
      <p><i class="fab fa-slack-hash"></i> Forum</p>
    </div>
    <div class="sidebar-section">
      <div class="#">
        <h3>Online</h3>
        <h3><i class="fas fa-plus"></i></h3>
      </div>
      <p><i class="fas fa-circle green-circle"></i>Evan</p>
      <p><i class="fas fa-circle green-circle"></i>Sora Aoi</p>
      <p><i class="fas fa-circle white-circle"></i>spanky_douglas</p>
      <p><i class="fas fa-circle white-circle"></i>Abe-chan</p>
    </div>
  </div>
  <div class="chat-container">
    <div class="chat-messages" id="chatbox">
      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <div class="chat-hub">
      <%= form_with model: @message do |f| %>

        <div class="form-group-chat">
          <%= f.text_field :content, placeholder: "Message the chat...", class: "chat-input form-control" %>
        </div>

        <div class="send-button">
          <%= f.submit "Send", class: "send-button" %>
        </div>

        <% end %>
      <div class="chat-tools">
        <i class="far fa-grin-beam"></i>
      </div>
    </div>
  </div>
  <div class="sidebar-right">
    <div class="sidebar-right-media">
      <div class="chat-lesson">
        <iframe width="475" height="300" src="https://www.youtube.com/embed/45vSd2dLaQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
        <div class="chat-entertainment">
          <%= image_tag "japanese-street.jpg" %>
        </div>
      </div>
    </div>
  </div>

