<%= render 'shared/header' %>
<div class="home-image">
  <main class="main">
    <div class="gateway-wrapper">
      <div class="gateway">
        <div class="gateway-content">
          <div class="gateway-tagline">
            <h2>Have fun while learning Japanese. 始めましょう</h2>
          </div>
          <%= link_to games_path do %>
          <div class="gateway-to-games stroke">
            <h2 class="test">Games</h2>
            <svg>
              <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
              <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            </svg>
          </div>
          <% end %>
          <%= link_to forum_path do %>
          <div class="gateway-to-forum">
            <h2>Forum</h2>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <div class="gateway-to-join">
            <h2>Welcome!</h2>
            <p><%= current_user.username %></p>
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>
          </div>
          <% else %>
          <div class="gateway-to-join modal-btn">
            <h2>Join for free</h2>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-bg">
      <div class="sign-up modal">
        <div class="signup-content">
          <h2 class="signup-tagline">Join the Community!</h2>
          <form>
            <span>
              <label for="username" class="text-small-uppercase">Username</label>
              <input class="text-body" id="username" name="username" type="text" required>
            </span>
            <span>
              <label for="email" class="text-small-uppercase">Email</label>
              <input class="text-body" id="email" name="email" type="email" required>
            </span>
            <span>
              <label for="city" class="text-small-uppercase">City</label>
              <input class="text-body" id="city" name="city" type="text" required>
            </span>
            <input class="text-small-uppercase" id="submit" type="submit" value="Join Now!">
          </form>
          <span class="modal-close">X</span>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
   <p> share buttons and about </p>
 </footer>
</div>
