<%= render 'shared/header' %>
<div class="home-image">
  <main class="main">
    <div class="gateway-wrapper">
      <div class="gateway">
        <div class="gateway-content">
          <div class="gateway-tagline">
            <h2>Have fun while learning Japanese. 始めましょう</h2>
          </div>
          <div class="gateway-buttons">
            <%= link_to games_path do %>
            <div class="gateway-button stroke">
              <h2 class="p-absolute">Games</h2>
              <svg>
                <polyline class="o1" points="0 0, 240 0, 240 100, 0 100, 0 0"></polyline>
                <polyline class="o2" points="0 0, 240 0, 240 100, 0 100, 0 0"></polyline>
              </svg>
            </div>
            <% end %>
            <%= link_to forum_path do %>
            <div class="gateway-button stroke">
              <h2 class="p-absolute">Forum</h2>
              <svg>
                <polyline class="o1" points="0 0, 240 0, 240 100, 0 100, 0 0"></polyline>
                <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
              </svg>
            </div>
            <% end %>
            <% if user_signed_in? %>
            <%= link_to user_profile_path do %>
            <div class="gateway-button stroke">
              <h2 class="p-absolute">My Profile</h2>
              <svg>
                <polyline class="o1" points="0 0, 240 0, 240 100, 0 100, 0 0"></polyline>
                <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
              </svg>
            </div>
            <% end %>
          </div>
          <% else %>
          <div class="gateway-button stroke modal-btn">
            <h2 class="p-absolute">Join for free!</h2>
            <svg>
              <polyline class="o1" points="0 0, 240 0, 240 100, 0 100, 0 0"></polyline>
              <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            </svg>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "home_signup_modal" %>
</main>
<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p><i class="fas fa-camera"></i> : Manuel Cosentino -- @manucosen</p>
  </div>
</footer>
</div>
