<div class="games-container">
  <div class="games-wrapper">
    <div class="level-header">
      <h2>Games</h2>
    </div>
      <% @games.each do |game| %>
          <div class="game-card">
        <%= link_to game_path(game) do %>
            <div class="game-card-media">
              <div class="game-card-icon">
                <div class="level-icon type-<%= game.language.name %>">
                  <% problem = game.problems.order("RANDOM()").first %>
                    <% if game.icon_based %>
                      <%= image_tag "problem_icons/#{game.name.downcase.gsub(' ', '_')}/#{problem.question}" %>
                    <% else %>
                      <div class="text-icon">
                        <%= problem.question %>
                      </div>
                    <% end %> <!-- icon selection -->
                </div>
              </div>
            </div>
        <% end %> <!-- link to game path -->
            <div class="description">
              <h1><%= game.name %></h1>
              <h2><%= game.language.name %></h2>
              <p>Test your <%= game.language.name.capitalize %> vocabulary!</p>
              <p>- Difficulty: <%= game.difficulty.capitalize %></p>
              <p>- Category: <%= game.category.capitalize %></p>
              <p>- Author: <%= display_authors(game).html_safe %></p>
            </div>
          </div>
      <% end %> <!-- games iteration -->
  </div>
</div>
