<div class="games-container">
  <div class="games-wrapper">
    <div class="level-header">
      <h2>Games</h2>
    </div>
      <% @games.each do |game| %>
        <div class="game-card <%= 'unlocked' if user_signed_in? && current_user.convo_points >= game.unlock_cp || game.unlock_cp == 0 %>">
          <%= link_to game_path(game) do %>
            <div class="game-card-media">
              <div class="game-card-icon">
                <div class="level-icon type-<%= game.language.name %>">
                  <% problem = game.problems.order("RANDOM()").first %>
                    <% if game.icon_based %>
                      <%= image_tag "problem_icons/#{game.name.downcase.gsub(' ', '_')}/#{problem.question}" %>
                    <% else %>
                      <div class="text-icon">
                        <%= problem.question %>
                      </div>
                    <% end %> <!-- icon selection -->
                </div>
              </div>
              <h1 class='game-card-action btn-primary'>Play!</h1>
            </div>
          <% end %> <!-- link to game path -->
          <div class="description">
            <%= link_to game_path(game) do %>
              <h1><%= game.name %></h1>
            <% end %>
            <h2><%= game.language.name %></h2>
            <p>Test your <%= game.language.name.capitalize %> vocabulary!</p>
            <p>- Difficulty: <%= game.difficulty.capitalize %></p>
            <p>- Category: <%= game.category.capitalize %></p>
            <p>- Author: <%= display_authors(game).html_safe %></p>
          </div>
          <%= link_to forum_index_path(:en) do %>
            <div class="locked-overlay">
              <%= image_tag "utility_icons/lock.png" %>
              <h3>You need <%= game.unlock_cp %> Convo Points to play this game.</h3>
              <h3> Join the conversation!</h3>
            </div>
          <% end %>
        </div>
      <% end %> <!-- games iteration -->
  </div>
</div>
