<div class="table-wrapper">
  <table class="content-table" id="gameTable">
    <tbody>
      <tr>
        <% column_length = (@problems.count / 5.to_f).ceil %> <!-- makes the last column look better -->
        <% @problems.each_slice(column_length) do |array| %>
        <td class="gametable-col">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header || "question" %></th>
                <th>Answer</th>
              </tr>
            </thead>
            <tbody>
              <% array.each do |problem| %>
              <tr class="#">
                <td>
                  <% if @game.icon_based %>
                    <%= image_tag problem.question %>
                  <% else %>
                    <%= problem.question %>
                  <% end %>
                </td>
                  <% answers_hash = {} %>
                  <% problem.answers.pluck(:data, :character_type).each { |arr| answers_hash[arr[1]] = arr[0] } %>
                  <% answers_hash[:icon_based] = @game.icon_based %>
                  <td data-answers="<%= answers_hash.to_json %>" class="answer"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <% end %>
        <td>
          <%= render "game_controls" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


