<div class="table-wrapper">
  <table class="content-table" id="gameTable">
    <tbody>
      <tr>
        <%= render partial: "kana_game_col", locals: { problems: @problems[0...11], question_header: @game.question_header, icon_based: @game.icon_based } %>
        <%= render partial: "kana_game_col", locals: { problems: @problems[11...22], question_header: @game.question_header, icon_based: @game.icon_based } %>
        <%= render partial: "kana_game_col", locals: { problems: @problems[22...33], question_header: @game.question_header, icon_based: @game.icon_based } %>
        <%= render partial: "kana_game_col", locals: { problems: @problems[33...44], question_header: @game.question_header, icon_based: @game.icon_based } %>
        <%= render layout: "kana_game_col", locals: { problems: @problems[44...46], question_header: @game.question_header, last_table: true, icon_based: @game.icon_based } do %>
          <%= render "game_controls" %>
        <% end %>
      </tr>
    </tbody>
   </table>
</div>
