<div class="table-wrapper">
  <table class="content-table" id="gameTable">
    <tbody>
      <tr>
        <td class="gametable-col">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header %></th>
                <th>Romaji</th>
              </tr>
            </thead>
            <tbody>
              <% @problems[0...11].each do |problem| %>
              <tr class="#">
                <td>
                  <%= problem.question %>
                </td>
                <td data-answers="<%= problem.answers.map(&:data) %>" class="answer"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td class="gametable-col">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header %></th>
                <th>Romaji</th>
              </tr>
            </thead>
            <tbody>
              <% @problems[11...22].each do |problem| %>
              <tr class="#">
                <td>
                  <%= problem.question %>
                </td>
                <td data-answers="<%= problem.answers.map(&:data) %>" class="answer"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td class="gametable-col">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header %></th>
                <th>Romaji</th>
              </tr>
            </thead>
            <tbody>
              <% @problems[22...33].each do |problem| %>
              <tr class="#">
                <td>
                  <%= problem.question %>
                </td>
                <td data-answers="<%= problem.answers.map(&:data) %>" class="answer"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td class="gametable-col">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header %></th>
                <th>Romaji</th>
              </tr>
            </thead>
            <tbody>
              <% @problems[33...44].each do |problem| %>
              <tr class="#">
                <td>
                  <%= problem.question %>
                </td>
                <td data-answers="<%= problem.answers.map(&:data) %>" class="answer"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td class="gametable-col last-table">
          <table class="data">
            <thead>
              <tr>
                <th><%= @game.question_header %></th>
                <th>Romaji</th>
              </tr>
            </thead>
            <tbody>
              <% @problems[44...46].each do |problem| %>
              <tr class="#">
                <td>
                  <%= problem.question %>
                </td>
                <td data-answers="<%= problem.answers.map(&:data) %>" class="answer"></td>
              </tr>
              <% end %>
              <%= render "game_controls" %>
          </tbody>
        </table>
      </td>
    </table>
  </div>
