<%= render 'shared/header' %>
<main>
  <div class="games-main-container">
    <div class="game-type-select">
      <div class="game-type-select-header">
        <h2>Language</h2>
      </div>
      <div class="game-type-select-content">
        <div class="game-type-select-content-item type-japanese">
          <h3>Japanese</h3>
        </div>
        <div class="game-type-select-content-item type-english">
          <h3>English</h3>
        </div>
        <div class="game-type-select-content-item type-spanish">
          <h3>Spanish</h3>
        </div>
      </div>
    </div>
    <div class="games-container">
      <div class="games-wrapper">
        <div class="level-header">
          <h2>Games</h2>
        </div>
        <div class="games-grid">
          <% @games.each do |game| %>
          <%= link_to game_path(game), class: "level-card" do %>
          <div class="level-icon">
            <% problem = game.problems.order("RANDOM()").first %>
            <% if game.icon_based %>
            <%= image_tag problem.question %>
            <% else %>
            <div class="text-icon">
              <%= problem.question %>
            </div>
            <% end %> <!-- icon selection -->
          </div>
          <div class="level-title">
            <h3><%= game.name %></h3>
          </div>
          <% end %> <!-- link to level -->
          <% end %> <!-- game iteration -->
        </div>
      </div>
    </div>
    <div class="classifications">
      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Category</h2>
        </div>
        <div class="game-type-select-content">
          <div class="game-type-select-content-item ">
            <h3>Typing</h3> <!-- symbols or spelling -->
          </div>
          <div class="game-type-select-content-item">
            <h3>Vocab</h3>
          </div>
          <div class="game-type-select-content-item">
            <h3>Grammar</h3>
          </div>
        </div>
      </div>
      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Difficulty</h2>
        </div>
        <div class="game-type-select-content">
          <div class="game-type-select-content-item">
            <h3>Beginner</h3>
          </div>
          <div class="game-type-select-content-item">
            <h3>Intermediate</h3>
          </div>
          <div class="game-type-select-content-item">
            <h3>Advanced</h3>
          </div>
        </div>
      </div>
    </div>
    <%= render "pages/menu_leaderboard" %>
  </div>
</main>
