<%= render 'shared/header' %>
<main>
  <div class="games-main-container">
    <div class="games-container">
      <div class="games-wrapper">
        <div class="kana-wrapper">
          <div class="level-header">
            <h2>Kana and Kanji</h2>
          </div>
          <div class="kana-content">
            <%= link_to game_path(Game.find_by_name("Hiragana 1")), class: "level-card" do %>
            <div class="icon">
              <%= image_tag "icon-hiragana.jpg" %>
            </div>
            <div class="level-title">
              <h3>Hiragana</h3>
            </div>
            <% end %>
            <%= link_to game_path(Game.find_by_name("Katakana 1")), class: "level-card" do %>
            <div class="icon">
              <%= image_tag "icon-katakana-5.jpg" %>
            </div>
            <div class="level-title">
              <h3>Katakana</h3>
            </div>
            <% end %>
          </div>
        </div>
        <div class="vocab-wrapper">
          <div class="level-header">
            <h2>Vocab</h2>
          </div>
          <div class="vocab-content">
            <a href="#" class="level-card">
             <div class="icon">
              <%= image_tag "icon-food-1.jpg" %>
            </div>
            <div class="level-title">
              <h3>Food</h3>
            </div>
          </a>
          <a href="#" class="level-card">
           <div class="icon">
            <%= image_tag "icon-animals-1.jpg" %>
          </div>
          <div class="level-title">
            <h3>Animals</h3>
          </div>
        </a>
        <a href="#" class="level-card">
         <div class="icon">
          <%= image_tag "icon-tech-2.jpg" %>
        </div>
        <div class="level-title">
          <h3>TechLab</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="grammer-wrapper">
    <div class="level-header">
      <h2>Grammar</h2>
    </div>
    <div class="grammar-content">
      <a href="#" class="level-card">
       <div class="icon">
        <%= image_tag "icon-temaker-1.jpg" %>
      </div>
      <div class="level-title">
        <div class="level-title">
          <h3>Te Maker</h3>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
</div>
<div class="menu-leaderboard-container">
  <div class="menu-leaderboard">
    <div class="menu-leaderboard-header">
      <span class="menu-leaderboard-image"><i class="fas fa-trophy"></i></span>
      <span class="menu-leaderboard-text">Leaderboard</span>
    </div>
    <div class="menu-leaderboard-content">
      <ul class="menu-leaderboard-rows">
        <% User.top_users.each_with_index do |user, index| %>
        <li class="menu-leaderboard-row">
          <% if user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: 'menu-leaderboard-avatar' %>
          <% else %>
          <div class="menu-leaderboard-avatar">
            <%= user.default_avatar %>
          </div>
          <% end %>
          <span class="menu-leaderboard-rank"><%= index + 1 %></span>
          <span class="menu-leaderboard-username">
            <span><%= link_to user.username, user_path(user) %></span>
          </span>
          <span class="menu-leaderboard-points">
            <span><%= user.total_score %></span>
          </span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
</main>
