<main>
  <div class="games-main-container block sm:flex">
    <%#= tweet_form.select :user_id, @users.map { |user| [user.name, user.id] }, { selected: tweet_form.object.user_id || "", disabled: "", prompt: 'Please select user' }, { class: 'form-control' } %>
    <div class="mobile-classifications sm:hidden" data-controller= "game-filters">
      <div>
        <%= form_with url: "/games", method: :get, local: true, data: { game_filters_target: "form"} do |f| %>
          <%= f.label :language, "Language:", :class => "font-bold" %>
          <%= f.select(:language, Language.all.pluck(:name, :language_code), { selected: params[:language], disabled: true, include_blank: 'All' }, {data: {action: "change->game-filters#submit"}}) %>
          <%= f.label :difficulty, "Difficulty:", :class => "font-bold" %>
          <%= f.select(:difficulty, options_for_select(Game.difficulties.keys, selected: params[:difficulty]), {include_blank: 'All', disabled: true}, {data: {action: "change->game-filters#submit"}}) %>
          <%= f.label :category, "Category:", :class => "font-bold" %>
          <%= f.select(:category, options_for_select(Game.categories.keys, selected: params[:category]), {include_blank: 'All', disabled: true}, {data: {action: "change->game-filters#submit"}}) %>
          <%= f.label :genre, "Genre:", :class => "font-bold" %>
          <%= f.select(:genre, options_for_select(Game.genres.keys, selected: params[:genre]), {include_blank: 'All', disabled: true}, {data: {action: "change->game-filters#submit"}}) %>
        <% end %>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <div class="classifications hidden sm:block">
      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Language</h2>
        </div>
        <div class="game-type-select-content">
          <%= link_to games_path difficulty: params[:difficulty], category: params[:category] do %>
            <div class="game-type-select-content-item">
              <h3>All</h3>
            </div>
          <% end %>
            <%= link_to language: params[:language] != "ja" ? "ja" : nil, difficulty: params[:difficulty], category: params[:category], genre: params[:genre] do %>
            <div class="game-type-select-content-item type-japanese <%= "active" if params[:language] == "ja" %>">
              <h3>Japanese</h3>
            </div>
          <% end %>
          <%= link_to language: params[:language] != "en" ? "en" : nil, difficulty: params[:difficulty], category: params[:category], genre: params[:genre] do %>
            <div class="game-type-select-content-item type-english <%= "active" if params[:language] == "en" %>">
              <h3>English</h3>
            </div>
          <% end %>
          <%= link_to language: params[:language] != "es" ? "es" : nil, difficulty: params[:difficulty], category: params[:category], genre: params[:genre] do %>
            <div class="game-type-select-content-item type-spanish <%= "active" if params[:language] == "es" %>">
              <h3>Spanish</h3>
            </div>
          <% end %>
          <%= link_to language: params[:language] != "fr" ? "fr" : nil, difficulty: params[:difficulty], category: params[:category], genre: params[:genre] do %>
            <div class="game-type-select-content-item type-french <%= "active" if params[:language] == "fr" %>">
              <h3>French</h3>
            </div>
          <% end %>
        </div>
      </div>

      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Genre</h2>
        </div>
        <div class="game-type-select-content">
          <%= link_to games_path language: params[:language], difficulty: params[:difficulty], category: params[:category] do %>
            <div class="game-type-select-content-item">
              <h3>All</h3>
            </div>
          <% end %>
          <% Game.genres.keys.each do |genre| %>
            <%= link_to genre: params[:genre] != genre ? genre : nil, language: params[:language], difficulty: params[:difficulty], category: params[:category] do %>
              <div class="game-type-select-content-item <%= "active" if params[:genre] == genre %>">
                <h3><%= genre.gsub("_", " ").titleize %></h3>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render "games_container" %>

    <div class="classifications hidden sm:block">
      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Category</h2>
        </div>
        <div class="game-type-select-content">
          <%= link_to games_path language: params[:language], difficulty: params[:difficulty], genre: params[:genre] do %>
            <div class="game-type-select-content-item">
              <h3>All</h3>
            </div>
          <% end %>
          <%= link_to category: params[:category] != "reading" ? "reading" : nil, language: params[:language], difficulty: params[:difficulty], genre: params[:genre] do %>
          <div class="game-type-select-content-item <%= "active" if params[:category] == "reading" %>">
            <h3>Reading</h3>
          </div>
          <% end %>
          <%= link_to category: params[:category] != "vocabulary" ? "vocabulary" : nil, language: params[:language], difficulty: params[:difficulty], genre: params[:genre] do %>
          <div class="game-type-select-content-item <%= "active" if params[:category] == "vocabulary" %>">
            <h3>Vocabulary</h3>
          </div>
          <% end %>
          <%= link_to category: params[:category] != "grammar" ? "grammar" : nil, language: params[:language], difficulty: params[:difficulty], genre: params[:genre] do %>
            <div class="game-type-select-content-item <%= "active" if params[:category] == "grammar" %>">
              <h3>Grammar</h3>
            </div>
          <% end %>
          <%= link_to category: params[:category] != "numbers" ? "numbers" : nil, language: params[:language], difficulty: params[:difficulty], genre: params[:genre] do %>
            <div class="game-type-select-content-item <%= "active" if params[:category] == "numbers" %>">
              <h3>Numbers</h3>
            </div>
          <% end %>
        </div>
      </div>

      <div class="game-type-select">
        <div class="game-type-select-header">
          <h2>Difficulty</h2>
        </div>
        <div class="game-type-select-content">
          <%= link_to games_path language: params[:language], category: params[:category], genre: params[:genre] do %>
            <div class="game-type-select-content-item">
              <h3>All</h3>
            </div>
          <% end %>
          <%= link_to difficulty: params[:difficulty] != "beginner" ? "beginner" : nil, language: params[:language], category: params[:category], genre: params[:genre] do %>
          <div class="game-type-select-content-item <%= "active" if params[:difficulty] == "beginner" %>">
            <h3>Beginner</h3>
          </div>
          <% end %>
          <%= link_to difficulty: params[:difficulty] != "intermediate" ? "intermediate" : nil, language: params[:language], category: params[:category], genre: params[:genre] do %>
          <div class="game-type-select-content-item <%= "active" if params[:difficulty] == "intermediate" %>">
            <h3>Intermediate</h3>
          </div>
          <% end %>
          <%= link_to difficulty: params[:difficulty] != "advanced" ? "advanced" : nil, language: params[:language], category: params[:category], genre: params[:genre] do %>
          <div class="game-type-select-content-item <%= "active" if params[:difficulty] == "advanced" %>">
            <h3>Advanced</h3>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%#= render "pages/menu_leaderboard" %>
  </div>
</main>
