<%= render 'shared/header' %>
<main>
  <div class="games-main-container">
    <div class="language-select">
      <h2>Language</h2>
    </div>
    <div class="games-container">
      <div class="games-wrapper">
        <div class="level-header">
          <h2>Games</h2>
        </div>
        <div class="games-grid">
          <% @games.each do |game| %>
          <%= link_to game_path(game), class: "level-card" do %>
          <div class="level-icon">
            <% problem = game.problems.order("RANDOM()").first %>
            <% if game.icon_based %>
              <%= image_tag problem.question %>
            <% else %>
            <div class="text-icon">
              <%= problem.question %>
            </div>
            <% end %> <!-- icon selection -->
          </div>
          <div class="level-title">
            <h3><%= game.name %></h3>
          </div>
          <% end %> <!-- link to level -->
          <% end %> <!-- game iteration -->
        </div>
      </div>
    </div>
    <div class="classifications">
      <div class="category">
        category
      </div>
      <div class="difficulty">
        di
      </div>
    </div>
    <div class="menu-leaderboard-container">
      <div class="menu-leaderboard">
        <%= link_to leaderboards_path do %>
          <div class="menu-leaderboard-header">
            <span class="menu-leaderboard-image"><i class="fas fa-trophy"></i></span>
            <span class="menu-leaderboard-text">Leaderboard</span>
          </div>
        <% end %> <!-- link to leaderboards -->
        <div class="menu-leaderboard-content">
          <ul class="menu-leaderboard-rows">
            <% User.top_users.each_with_index do |user, index| %>
            <li class="menu-leaderboard-row">
              <% if user.avatar.attached? %>
              <%= cl_image_tag user.avatar.key, class: 'menu-leaderboard-avatar' %>
              <% else %>
              <div class="menu-leaderboard-avatar default-avatar">
                <%= user.default_avatar %>
              </div>
              <% end %>
              <span class="menu-leaderboard-rank"><%= index + 1 %></span>
              <span class="menu-leaderboard-username">
                <%= link_to user.username, user_path(user) %>
              </span>
              <span class="menu-leaderboard-points">
                <span><%= user.total_score %></span>
              </span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
