<div class="game-main-container">
  <%= render "game_header" %>
  <%= render "shared/header_mobile" %>

  <div class=""
    id="game-data"
    data-controller="<%= @game.genre.gsub("_", "-") %>"
    data-category="<%= @game.category %>"
    data-score="<%= @game.score %>"
    data-play-time="<%= @game.play_time %>"
    data-genre="<%= @game.genre %>"
    data-difficulty="<%= @game.difficulty %>"
    data-character-type="<%= @game.character_type %>"
    data-url="<%= game_plays_path(@game) %>"
    data-problem-count="<%= @game.problem_count %>"
    data-perfect-play-url="<%= asset_url 'badges/games/perfect_play.svg' %>"
    <%#= "data-badge-url=#{asset_url @badge.custom_fields["image_path"]}" if @badge %>
  >
    <%= render "games/game_types/#{@game.genre}" %>
  </div>
</div>
