<div class="game-main-container">
  <%= render "game_header" %>
  <%= render "shared/header_mobile" %>

  <div class="sticky top-50px">
    <%= render "game_controls" %>
  </div>

  <div class="game-container mx-auto sm:w-8/12 md:w-7/12 lg:w-5/12"
    id="game-data"
    data-controller="tablegame"
    data-category="<%= @game.category %>"
    data-score="<%= @game.score %>"
    data-play-time="<%= @game.play_time %>"
    data-genre="<%= @game.genre %>"
    data-difficulty="<%= @game.difficulty %>"
    data-character-type="<%= @game.character_type %>"
    data-url="<%= game_plays_url(@game) %>"
    data-perfect-play-url="<%= asset_url 'badges/games/perfect_plays/perfect_play.svg' %>"
    <%= "data-perfect-badge-url=#{asset_url @perfect_badge.custom_fields["image_path"]}" if @perfect_badge %>
  >
    <%= render "table_game" %>
  </div>
</div>
