<h2 class='text-3xl text-center border-b w-full mb-2'>Log in</h2>
<div class="flex justify-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: MyFormBuilder, html: { class: "w-full px-6 sm:w-1/2 sm:px-0" }) do |f| %>
    <%= f.text_section :login, "Login", autofocus: true, autocomplete: "username" %>
    <%= f.password_section :password, "Password", autocomplete: "current-password" %>
  <div class="flex justify-center flex-col mt-2">
    <div class="">
      <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <% end %> <!-- if devise mapping -->
    </div>
    <%= f.submit "Log in", class: "btn btn-secondary mt-2" %>
    <% end %> <!-- form for -->
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary border-glow text-lg font-bold mt-4" %>
    <%= link_to new_user_password_path do %>
      <div class="flex justify-center text-2xl border-b-2 text-gray-700">
        <p>Forgot your password?</p>
      </div>
    <% end %>
  </div>
</div>

