
<h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: MyFormBuilder) do |f| %>
  <%= f.text_section :login, "Login", autofocus: true, autocomplete: "username" %>
  <%= f.password_section :password, "Password", autocomplete: "current-password" %>


  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  <% end %> <!-- if devise mapping -->

  <%= f.submit "Log in", class: "password-reset-button" %>

  <%= link_to new_user_registration_path do %>
    <h2>Sign up</h2>
  <% end %> <!-- link -->
  <% end %> <!-- form for -->

