<div class="post-create-wrapper">
  <div class="post-create-header">
    Create a post
  </div>

  <%= form_for (Post.new), remote: true do |f| %>

  <%= f.text_field :language_id, value: @language.id, hidden: true %>
  <div class="post-create-tabs">
    <div class="post-create-tab">
      post
    </div>
    <div class="post-create-tab">
      images
    </div>
    <div class="post-create-tab">
      link
    </div>
  </div>
  <div class="post-create-title">
    <%= f.text_field :title, placeholder: "Title", class: "pct-form" %>
  </div>
  <div class="post-create-content">
    <%= f.text_area :content, placeholder: "Text (optional)", class: "pcc-form" %>
  </div>
  <div class="post-create-submit-wrapper">
    <%= f.submit "Post", class: "post-button border-glow" %>
  </div>
  <% end %>
</div>
