<div class="conversations-content-items forum-bg">
  <div class="post-main-container post-show-border">
    <div class="post-group">
      <div class="post-header">
        <div class="post-creation-time">
          <p>Posted by: <%= @post.user.username %> at <%= @post.created_at.strftime("%l:%M %p") %></p>
        </div>
        <% if @post.user == current_user %>
          <%= link_to edit_post_path do %>
            <i class="fas fa-edit icon-shrink"></i>
          <% end %> <!-- link to edit -->
        <% end %> <!-- if @user -->
      </div>
      <div class="post-title">
        <p><%= @post.title %></p>
      </div>
      <div class="post-content">
        <p><%= @post.content %></p>
      </div>
    </div>
    <div class="post-toolbar">
      <span class="post-comment-icon">
        <img src="https://img.icons8.com/material-two-tone/24/000000/topic.png"/>
      </span>
      <span class="number-of-comments">
        <%= @post.comments.size %> <p class='ml-1'>Comments</p>
      </span>
    </div>
  </div>
  <div class="comments-container">
    <%= render 'comments/comment_form', post: @post, comment: @comment %>
    <div class="comments-display">
      <% @post.comments.each do |parent_comment| %>
        <%= render 'comments/comment', post: @post, comment: parent_comment, parent_comment: parent_comment %>
        <div class="comment-replies">
          <% parent_comment.replies.each do |reply| %>
            <%= render 'comments/comment', post: @post, comment: reply, parent_comment: parent_comment %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
