<!DOCTYPE html>
<html>
<%= render "shared/head" %>
<body data-user-id='<%= current_user&.id || 'Guest' %>'>
  <%= render 'shared/navbar' %>
  <%= render 'layouts/alerts' %>
  <div class="conversations-main-container">
    <%= render "conversations/conversations_sidebar_left" %>
    <div class="channel-container">
      <div class="channel-tab-content">
        <%= yield %> <!-- conversations-content-container -->
      </div>
    </div>
    <%= render "conversations/conversations_sidebar_right" %>
  </div>
</body>
</html>
